@tailwind base;
@tailwind utilities;
@tailwind components;

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

html ::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: transparent;
}

html {
  scroll-behavior: smooth;
}
